@tailwind base;
@tailwind components;
@tailwind utilities;


.page-item.active .page-link{
    background-color: antiquewhite;
    border-color: aquamarine;
}

.page-link{
    color: burlywood;
}

.page-link:hover{
    color:blanchedalmond;
}

.content{
    width: 300px;
}
  